@model IEnumerable<SECP.Models.Student>
@{
    ViewBag.Title = "PIstudent";
    Layout = "~/Views/PersonalInformation.cshtml";
}
<link href="~/css/TalentRelease.css" rel="stylesheet" />
<link href="~/css/PITalent.css" rel="stylesheet" />
<link href="~/css/bootstrap-button.css" rel="stylesheet" />
<div class="PI-main">
    <hr class="hr1" /><hr class="hr2" /><hr class="hr3" /><hr class="hr4" />
    @foreach (SECP.Models.Student k in Model)
    {
        <div class="PI-username">
            <div class="PI-username-left">
                <span>@k.student_UserName</span>
                <nobr>(学生)</nobr>
                <div class="PI-personal">
                    <span>个人介绍</span>
                    <p>@k.stduent_Introduce</p>
                    <a class="PI-personal-change" href="ChangePIstudent">更改>></a>
                </div>
            </div>
        </div>
        <div class="PI-userinfo">
            <div class="PI-table">
                <span>基本</span>
                <nobr>信息</nobr>
                <table>
                    <tr>
                        <td class="PI-table-tittle">真实姓名</td>
                        <td class="PI-table-content">@k.student_RealName</td>
                        <td class="PI-table-tittle">出生日期</td>
                        <td class="PI-table-content">@k.student_BornDate</td>
                        <td class="PI-table-tittle">性别</td>
                        <td class="PI-table-content">@k.student_Sex</td>
                    </tr>
                    <tr>
                        <td class="PI-table-tittle">专业</td>
                        <td class="PI-table-content">@k.student_Major</td>
                        <td class="PI-table-tittle">毕业学校</td>
                        <td class="PI-table-content">@k.student_GradSchool</td>
                        <td class="PI-table-tittle">学历</td>
                        <td class="PI-table-content">@k.student_Edu</td>
                    </tr>
                    <tr>
                        <td class="PI-table-tittle">QQ</td>
                        <td class="PI-table-content">@k.student_QQ</td>
                        <td class="PI-table-tittle">邮箱</td>
                        <td class="PI-table-content">@k.student_Email</td>
                        <td class="PI-table-tittle">电话</td>
                        <td class="PI-table-content">@k.student_Tel</td>
                    </tr>
                    <tr>
                        <td class="PI-table-tittle">期望月薪</td>
                        <td class="PI-table-content">@k.student_Wage</td>
                        <td class="PI-table-tittle">期望从事职业</td>
                        <td class="PI-table-content">@k.student_Occupation</td>
                        <td class="PI-table-tittle">专业技能</td>
                        <td class="PI-table-content">@k.student_SKill</td>
                    </tr>
                    <tr>
                        <td class="PI-table-tittle">兴趣爱好</td>
                        <td class="PI-table-content">@k.student_Hobby</td>
                        <td class="PI-table-tittle">个人荣誉</td>
                        <td class="PI-table-content">@k.student_Glory</td>
                    </tr>
                </table>
                <div class="PI-deta">
                    <span>详细</span>
                    <nobr>信息</nobr>
                    <div class="PI-deta-pj">
                        <span>培训经历</span>
                        <p>@k.student_Train</p>
                    </div>
                    <div class="PI-deta-px">
                        <span>项目经历</span>
                        <p>@k.student_Practic</p>
                    </div>
                </div>

            </div>

            <div class="PI-left">
            </div>
        </div>
    }

</div>
