@model IEnumerable<SECP.Models.JTrain>

@{
    ViewBag.Title = "CheckTrain";
    Layout = "~/Views/Train.cshtml";
}

<link href="~/css/TrainMo.css" rel="stylesheet" />
<link href="~/css/TrainShow.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/jquery.js"></script>
<div class="body_a">
    <div class="gundong_bg_search">
        <div class="bm_m_search">
            <div class="search_div_box">
                <div class="search_div_bg2"></div>
                <div class="search_div_bg">
                    <form action="CLTrain" method="post" autocomplete="off">
                        <span class="search_div_bg_btn" id="wesitesearch"></span>
                        <input type="text" class="search_div_bg_input" name="search" placeholder="请输入主题关键词" autocomplete="off">
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="MOAchievements-main2">

        <div class="container">
            <div class="bs-docs-example">
                <div class="table-tittle">
                    <h2>已接受实训</h2>
                    <h3>共 @ViewData["Num"]个</h3>
                </div>
                <div class="table">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>实训id</th>
                                <th>实训类型</th>
                                <th>实训名称</th>
                                <th>项目名称</th>
                                <th>加入日期</th>
                                <th>团队人数</th>
                                <th>队长姓名</th>
                                <th>成员姓名</th>
                                <th>修改</th>
                                <th>取消</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            @foreach (SECP.Models.JTrain k in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>@k.Train_Id</td>
                                    <td>@k.Train_Type</td>
                                    <td>@k.Train_Name</td>
                                    <td>@k.Train_OurName</td>
                                    <td>@k.Join_Time</td>
                                    <td>@k.Team_Num</td>
                                    <td>@k.Leader_Name</td>
                                    <td>@k.Member_Name</td>
                                    <td><a href="~/Train/ChangeJoin?joinid=@k.Train_Id">修改</a></td>
                                    <td><button name='QX' type='submit' value="@k.id"></button></td>
                                </tr>
                            }
                        </tfoot>
                    </table>

                    <div class="paging">
                        @Html.Raw(HttpUtility.HtmlDecode(@Html.MikePager(Model as PagedList<SECP.Models.JTrain>)))
                    </div>
                </div>

            </div>
        </div>
    </div>}