@model IEnumerable<SECP.Models.Train>
@{
    ViewBag.Title = "SchoolTrain";
    Layout = "~/Views/Train.cshtml";
}

<link href="~/css/TrainShow.css" rel="stylesheet" />

<div class="body_a">
    <div class="gundong_bg_search">
        <div class="bm_m_search">
            <div class="search_div_box">
                <div class="search_div_bg2"></div>
                <div class="search_div_bg">
                    <form action="SCTrain" method="post" autocomplete="off">
                        <span class="search_div_bg_btn" id="wesitesearch"></span>
                        <input type="text" class="search_div_bg_input" name="search" placeholder="请输入主题关键词" autocomplete="off">
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="main">

    <div class="container">
        <div class="bs-docs-example">
            <div class="table-tittle">
                <h2>实训查看</h2>
                <h3>共 @ViewData["num"] 个项目</h3>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@ViewData["a"]</th>
                        <th>编号</th>
                        <th>主题</th>
                        <th>发布时间</th>
                        <th>发布人</th>
                        <th>实训相关专业</th>
                        <th>实训目标</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SECP.Models.Train k in Model)
                    {
                        <tr>
                            <td></td>
                            <td>@k.Train_Id</td>
                            <td><a href="CKTrain?Id=@k.Train_Id">@k.Train_Name</a></td>
                            <td>@k.Train_Time</td>
                            <td>@k.Train_Publisher</td>
                            <td>@k.Train_Major</td>
                            <td>@k.Train_Objective</td>
                        </tr>
                    }
                </tbody>
            </table>

                <div class="paging">
                    @Html.Raw(HttpUtility.HtmlDecode(@Html.MikePager(Model as PagedList<SECP.Models.Train>)))
                </div>
            </div>
        </div>
    </div>

<script src="~/js/jquery-1.8.2.min.js"></script>

<script type="text/javascript">
    $('#wesitesearch').click(function () {
        $(this).parents('form').submit();
    });
</script>

