@model IEnumerable<SECP.Models.Achievements>
@{
    ViewBag.Title = "MOproject";
    Layout = "~/Views/Achievements.cshtml";
}


<link href="~/css/AchievementsMo.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/jquery.js"></script>
@using(Html.BeginForm())
{
<div class="MOAchievements-main2">
    <div class="AchievementsRe-tips">
    </div>
    <div class="acceptProject">
        <div class="table-tittle">
            <h2>已发布产品</h2>
            <p>共 @ViewData["Q"]个</p>
        </div>
        <div class="table">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>研发Id</th>
                        <th>研发类型</th>
                        <th>研发主题</th>
                        <th>发布时间</th>
                        <th>联系方式</th>
                        <th>研发特长</th>
                        <th>修改产品</th>
                        <th>删除产品</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                   @foreach (SECP.Models.Achievements k in Model)
                 {
                    <tr>
                        <td></td>
                        <td>@k.Achievements_Id</td>
                        <td><a href="CKAchievements?Id=@k.Achievements_Id">@k.Achievements_Type</a></td>     
                        <td>@k.Achievements_Theme</td>
                        <td>@k.Achievements_Time</td>
                        <td>@k.Achievemetns_contact</td>
                        <td>@k.Achievements_Specialty</td>
                        <td><a href="MPAchievements?Id=@k.Achievements_Id">修改</a></td>
                        <td><button name='QX' class="cancelbutton"type='submit' value="@k.Achievements_Id"></button></td>
                    </tr>
                  }
                </tfoot>
            </table> 
            <div class="paging">
                     @Html.Raw(HttpUtility.HtmlDecode(@Html.MikePager(Model as PagedList<SECP.Models.Achievements>)))
                </div> 
        </div>
    </div>
</div>
}
