@model IEnumerable<SECP.Models.Teacher>
@{
    ViewBag.Title = "TAchievements";
    Layout = "~/Views/Achievements.cshtml";
}

<link href="~/css/AchievementsShow.css" rel="stylesheet" />


<div class="body_a">
    <div class="gundong_bg_search">
        <div class="bm_m_search">
            <div class="search_div_box">
                <div class="search_div_bg2"></div>
                <div class="search_div_bg">
                    <form action="TAchievements" method="post" autocomplete="off">
                        <span class="search_div_bg_btn" id="wesitesearch"></span>
                        <input type="text" class="search_div_bg_input" name="search" placeholder="学生Id/执教课程" autocomplete="off">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="bs-docs-example">
        <div class="table-tittle">
            <h2>教师信息查看</h2>
            <h3>共 @ViewData["num"] 个简历</h3>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@ViewData["a"]</th>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>执教课程</th>
                    <th>职位</th>
                    <th>学历</th>
                    <th>所在学校</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SECP.Models.Teacher k in Model)
                {
                    <tr>
                        <td></td>
                        <td>@k.teacher_Id</td>
                        <td><a href="PSAchievements?id=@k.teacher_Id">@k.teacher_RealName</a></td>
                        <td>@k.teacher_TeachClass</td>
                        <td>@k.teacher_Position</td>
                        <td>@k.teacher_Edu</td>
                        <td>@k.teacher_AtSchool</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="paging">
            @Html.Raw(HttpUtility.HtmlDecode(@Html.MikePager(Model as PagedList<SECP.Models.Teacher>)))
        </div>
    </div>
</div>

@*<div class="main">
        <div class="achievements_table">
            <div class="achievements_table_main">
                <div class="table-tittle">
                    <h2>简历查看</h2>
                    <p>共 @ViewData["num"] 个简历</p>
                </div>
                <div class="table">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>@ViewData["a"]</th>
                                <th>编号</th>
                                <th>姓名</th>
                                <th>执教课程</th>
                                <th>职位</th>
                                <th>学历</th>
                                <th>所在学校</th>
                            </tr>
                        </thead>
                        <tbody>
                             @foreach (SECP.Models.Teacher k in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>@k.teacher_Id</td>
                                    <td><a href="PSAchievements?id=@k.teacher_Id">@k.teacher_RealName</a></td>
                                    <td>@k.teacher_TeachClass</td>
                                    <td>@k.teacher_Position</td>
                                    <td>@k.teacher_Edu</td>
                                    <td>@k.teacher_AtSchool</td>
                                </tr>
                             }
                        </tbody>
                    </table>
                    <div class="paging">
                      @Html.Raw(HttpUtility.HtmlDecode(@Html.MikePager(Model as PagedList<SECP.Models.Teacher>)))
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<script src="~/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        //为filter下的所有a标签添加单击事件
        $(".border-box-item a").click(function () {
            $(this).parents("dl").children("dd").each(function () {
                //下面三种方式效果相同（第三种写法的内部就是调用了find()函数，所以，第二、三种方法是等价的。）
                $('a', this).removeClass("seled");
            });
            $(this).attr("class", "seled");
            //window.location="CCProject?"+RetSelecteds();
        });
        $(".border-box-tittle a").click(function () {
            window.location = "COProject?" + RetSelecteds();
        });
    });
    function click() {
        window.location = "COProject?" + RetSelecteds();
    }
    function RetSelecteds() {
        var result = "";
        $(".border-box-item a[class='seled']").each(function () {
            result += this.parentNode.parentNode.id + "=" + this.id + "&";
        });
        return result;
    }
</script>
<script type="text/javascript">
    $('#wesitesearch').click(function () {
        $(this).parents('form').submit();
    });
</script>

