<!DOCTYPE html>

<html>
<head>
    <link href="~/css/talentstyle.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/talent-style1.css" rel="stylesheet" />
    @*<link href="~/css/bootstrap-talent.css" rel="stylesheet" type="text/css" media="all" />*@

    <link rel="shortcut icon" href="~/images/talent/talent-favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>人才资源平台</title>
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script src="~/js/jquery-1.11.1.min.js"></script>

</head>
<body>

    <div class="mainmenu-wrapper">
        <div class="container">
            <div class="col-sm-1 logo-wrapper">
                <a href="~/Home.html"><img src="/images/newLogo.png" alt="HomeLogo" /></a>
            </div>
            <div class="col-sm-11 menuextras">
                <div class="extras">
                    <ul>
                        <li>
                            <a href="/Login/Login">
                                @ViewData["State"]
                                <div class="sub">
                                    @ViewData["YState"]
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../PersonalInformation/PIstudent">
                                @ViewData["UserName"]
                                <div class="sub">
                                    @ViewData["TimeNow"]
                                </div>
                            </a>
                        </li>
                        <li><a href="#"><img src="/images/Social_Logo/Github_Logo2.png" /></a></li>
                        <li><a href="#"><img src="/images/Social_Logo/QQ_Logo2.png" /></a></li>
                        <li><a href="#"><img src="/images/Social_Logo/Renren_Logo2.png" /></a></li>

                    </ul>
                </div>
            </div>
            <nav id="colorNav" class="col-sm-11 colorNav">
                <ul>
                    <li class="active">
                        <a href="TalentHome">人才资源平台</a>
                    </li>
                    <li>
                        <a href="SRTalent">学生简历</a>
                        <ul>
                            <li><a href="SRTalent">查看简历</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="INTalent">实习招聘</a>
                        <ul>
                            <li><a href="INTalent">查看招聘</a></li>
                            <li><a href="PITalent">发布招聘</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="RETalent">企业招聘</a>
                        <ul>
                            <li><a href="RETalent">查看招聘</a></li>
                            <li><a href="PRTalent">发布招聘</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="COTalent">合作创业</a>
                        <ul>
                            <li><a href="COTalent">查看招募</a></li>
                            <li><a href="PCTalent">发布招募</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="MOTalent">我的资源</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    @*<div class="Talent-main">
            <div class="Talent-tittle">
                <div class="talent-logo">
                <div class="talent-left">
                    <img src="~/images/Alogo.png">
                    </div>
                <a href="~/Home.html">人才资源平台<span>Talent resouce platform</span></a></div>
                <div>
                    <nav class="main_menu">

                        <ul>
                            <li class="@ViewData["H"]">

                                <a href="TalentHome">
                                    首页
                                    <div class="sub">
                                        Home Page
                                    </div>
                                </a>
                            </li>
                            <li class="@ViewData["Q"]">
                                <a href="SRTalent">
                                    学生简历
                                    <div class="sub">
                                        Student Resume
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="SRTalent">查看简历</a></li>

                                </ul>
                            </li>

                            <li class="@ViewData["S"]">
                                <a href="INTalent">
                                    实习招聘
                                    <div class="sub">
                                        Internship
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="INTalent">查看招聘</a></li>
                                    <li><a href="PITalent">发布招聘</a></li>
                                </ul>
                            </li>

                            <li class="@ViewData["Z"]">
                                <a href="RETalent">
                                    企业招聘
                                    <div class="sub">
                                        Recruitment
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="RETalent">查看招聘</a></li>
                                    <li><a href="PRTalent">发布招聘</a></li>
                                </ul>
                            </li>

                            <li class="@ViewData["W"]">
                                <a href="COTalent">
                                    合作创业
                                    <div class="sub">
                                        Cooperation
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="COTalent">查看招募</a></li>
                                    <li><a href="PCTalent">发布招募</a></li>
                                </ul>
                            </li>

                            <li class="@ViewData["X"]">
                                <a href="MOTalent">
                                    我的资源
                                    <div class="sub">
                                        My Talent
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/Login/Login">
                                    @ViewData["State"]
                                    <div class="sub">
                                        @ViewData["YState"]
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../PersonalInformation/PIstudent">
                                    @ViewData["UserName"]
                                    <div class="sub">
                                        @ViewData["TimeNow"]
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>*@
    <div>
        @RenderBody()
    </div>
    <div id="footer" class="footer">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">
                    Copyright &copy; 14软件开发A班 罗俐萍 魏铮淑 钟碧珍  指导:12软件开发B班 黄雅聪 黎泯生      电子科技大学中山学院
                </div>
            </div>
        </div>
    </div>

</body>
</html>
