
<!DOCTYPE html>

<html>
<head>
    <link href="~/css/trainstyle.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/css/bootstrap-talent.css" rel="stylesheet" type="text/css" media="all" />*@
    <link rel="shortcut icon" href="~/images/train/train-favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>实训基地平台</title>
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script src="~/js/jquery-1.11.1.min.js"></script>
</head>
<body>
    
    <div class="mainmenu-wrapper">
        <div class="container">
            <div class="col-sm-1 logo-wrapper">
                <a href="~/Home.html"><img src="/images/newLogo.png" alt="HomeLogo" /></a>
            </div>
            <div class="col-sm-11 menuextras">
                <div class="extras">
                    <ul>
                        <li>
                            <a href="/Login/Login">
                                @ViewData["State"]
                                <div class="sub">
                                    @ViewData["YState"]
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../PersonalInformation/PIstudent">
                                @ViewData["UserName"]
                                <div class="sub">
                                    @ViewData["TimeNow"]
                                </div>
                            </a>
                        </li>
                        <li><a href="#"><img src="/images/Social_Logo/Github_Logo2.png" /></a></li>
                        <li><a href="#"><img src="/images/Social_Logo/QQ_Logo2.png" /></a></li>
                        <li><a href="#"><img src="/images/Social_Logo/Renren_Logo2.png" /></a></li>

                    </ul>
                </div>
            </div>
            <nav id="colorNav" class="col-sm-11 colorNav">
                <ul>
                    <li class="active">
                        <a href="TrainHome">实训基地平台</a>
                    </li>
                    <li>
                        <a href="ENTrain">企业实训</a>
                        <ul>
                            <li><a href="ENTrain">查看实训</a></li>
                            <li><a href="PETrain">发布实训</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="SCTrain">学校实训</a>
                        <ul>
                            <li><a href="SCTrain">查看实训</a></li>
                            <li><a href="PSTrain">发布实训</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="CLTrain">企业培训班</a>
                        <ul>
                            <li><a href="CLTrain">查看培训班</a></li>
                            <li><a href="PCTrain">发布培训班</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="MOtrainRelease">我的实训</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    @*<div class="Train-main">
            <div class="Train-tittle">
                <div class="Train-logo">
                    <div class="Train-left">
                        <img src="~/images/Alogo.png">
                    </div>
                    <a href="~/Home.html">实训基地平台<span>Training base platform</span></a>
                </div>
                <div>
                    <nav class="main_menu">

                        <ul>
                            <li class="@ViewData["H"]">

                                <a href="TrainHome">
                                    首页
                                    <div class="sub">
                                        Home Page
                                    </div>
                                </a>
                            </li>
                            <li class="@ViewData["Q"]">
                                <a href="ENTrain">
                                    企业实训
                                    <div class="sub">
                                        Enterprise Train
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="ENTrain">查看实训</a></li>
                                    <li><a href="PETrain">发布实训</a></li>
                                </ul>
                            </li>

                            <li class="@ViewData["S"]">
                                <a href="SCTrain">
                                    学校实训
                                    <div class="sub">
                                        School Train
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="SCTrain">查看实训</a></li>
                                    <li><a href="PSTrain">发布实训</a></li>
                                </ul>
                            </li>

                            <li class="@ViewData["Z"]">
                                <a href="CLTrain">
                                    企业培训班
                                    <div class="sub">
                                        Class Train
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="CLTrain">查看培训班</a></li>
                                    <li><a href="PCTrain">发布培训班</a></li>
                                </ul>
                            </li>
                            <li class="@ViewData["X"]">
                                <a href="MOtrainRelease">
                                    我的实训
                                    <div class="sub">
                                        My Train
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/Login/Login">
                                    @ViewData["State"]
                                    <div class="sub">
                                        @ViewData["YState"]
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../PersonalInformation/PIstudent">
                                    @ViewData["UserName"]
                                    <div class="sub">
                                        @ViewData["TimeNow"]
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>*@
    <div>
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">
                    Copyright &copy; 14软件开发A班 罗俐萍 魏铮淑 钟碧珍  指导:12软件开发B班 黄雅聪 黎泯生      电子科技大学中山学院
                </div>
            </div>
        </div>
    </footer>
    <script>
        $(function () {
            function footerPosition() {
                $("footer").removeClass("fixed-bottom");
                var contentHeight = document.body.scrollHeight,//网页正文全文高度
                    winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
                if (!(contentHeight > winHeight)) {
                    //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                    $("footer").addClass("fixed-bottom");
                } else {
                    $("footer").removeClass("fixed-bottom");
                }
            }
            footerPosition();
            $(window).resize(footerPosition);
        });
    </script><!-- footer -->

</body>
@*让页脚可以固定在网页的底部*@

</html>

