@{
    ViewBag.Title = "MTalent";
    Layout = "~/Views/Backstage.cshtml";
}


@using(Html.BeginForm())
{
<div class="header">
            <h1 class="page-title">人才信息平台</h1>
        </div>
        
                <ul class="breadcrumb">
            <li><a href="#">人才平台</a> <span class="divider">/</span></li>
            <li class="active">招聘信息</li>
 </ul>
<div class="well">
    <table class="table">
        <thead>
            <tr><td colspan="4" style="font-size:16px">招聘信息</td></tr>
        </thead>
        <tbody>
        <tr>
            <td>招聘Id：</td>
            <td>@ViewData["Id"]</td>
            <td>招聘类型：</td>
            <td>@ViewData["Type"]</td>
        </tr>
        <tr>
            <td>招聘主题：</td>
            <td>@ViewData["Name"]</td>
            <td>招聘发布时间：</td>
            <td>@ViewData["Time"]</td>
        </tr>
        <tr>
            <td>招聘状态：</td>
            <td>@ViewData["State"]</td>
            <td>招聘工资：</td>
            <td>@ViewData["Money"]</td>
        </tr>
        <tr>
            <td>招聘内容：</td>
            <td>@ViewData["Content"]</td>
            <td>招聘发布人：</td>
            <td>@ViewData["Publisher"]</td>
        </tr>
        <tr>
            <td>工作地点：</td>
            <td>@ViewData["Place"]</td>
            <td>招聘福利：</td>
            <td>@ViewData["Welfare"]</td>
        </tr>
        <tr>
            <td>招聘人数：</td>
            <td>@ViewData["Num"]</td>
            <td>招聘信息审核：</td>
            <td>@ViewData["Checks"]</td>
        </tr>
        </tbody>
        <tr>
            <td colspan="4">
                <div style="text-align:center">
                    <input type="submit" name="TK" class="btn" value="该信息无错！审核通过！" />
                    <input type="submit" name="TK" class="btn" value="该信息有错！审核不通过！" />
                </div>
            </td>
        </tr>
    </table>
</div>
}
